header {
  padding: 10px 20px;
}

.App-logo {
  width: 18px;
  height: 18px;
}

.App-header {
  background-color: rgb(255, 102, 0);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
