/* Header */
.container{
  color: rgb(255, 102, 0);
}

header {
  padding: 10px 20px;
  background-color: rgb(255, 102, 0);
  color: white;
}

.posts{
  padding: 10px 20px;
}

.App-logo {
  width: 18px;
  height: 18px;
  border: 1px solid white;
  border-radius: 2px;
}

ul{
  list-style: none;
  height: 50px;;
  padding-inline-start: 0;
}

ul li{
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

/* Main Content */

h2{
  cursor: pointer;
}